src/main/app/signedvarifyactivemq.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:signature="http://www.mulesoft.org/schema/mule/signature" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/signature http://www.mulesoft.org/schema/mule/signature/current/mule-signature.xsd">
    <signature:config name="Signature" doc:name="Signature">
        <signature:jce-signer-config algorithm="HmacMD5" key="mahindracomviva1"/>
    </signature:config>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <jms:activemq-connector name="Active_MQ" specification="1.1" username="admin" password="admin" brokerURL="tcp://localhost:61716" validateConnections="true" doc:name="Active MQ"/>
    <flow name="signedvarifyactivemqFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/signedvarifyactivemq" allowedMethods="POST" doc:name="HTTP"/>
        <string-to-byte-array-transformer doc:name="String to Byte Array"/>
        <signature:sign config-ref="Signature" input-ref="#[message.[payload.&quot;SADIK.ALI.CITY&quot;]]" variable="signedValue" doc:name="Signature"/>
        <set-session-variable variableName="signedSessionVariable" value="#[flowVars.signedValue]" doc:name="Session Variable"/>
        <jms:outbound-endpoint queue="signedvarifyactivemq" connector-ref="Active_MQ" doc:name="JMS"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <set-payload value="This is payload request #[payload]" doc:name="Set Payload"/>
    </flow>
    <flow name="signedvarifyactivemqFlow1">
        <jms:inbound-endpoint queue="signedvarifyactivemq" connector-ref="Active_MQ" doc:name="JMS"/>
        <object-to-string-transformer returnClass="java.lang.Object" doc:name="Object to String"/>
        <signature:verify-signature config-ref="Signature" input-ref="#[message.payload&quot;SADIK.ALI.CITY&quot;]" expectedSignature="#[sessionVars.signedSessionVariable]" doc:name="Signature"/>
        <logger message="Final payload in reciever :   #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
